
html.body{
    margin: 0;
}
header{
    background-color:black;
    color:white;
 height:96px;
 width:100%;
 position: fixed;
 z-index: index 10;
 
}
#logo{
width: 96px;
position: absolute;
top:10px;
margin-left: 5%;

}
#menu{
    float: right;
    margin-right:5%;
    list-style:none;
    margin-top:0px;
}
li{
    float:right;
    padding:20px 10px 20px 10px; 
    
}
li:hover{
    background-color:01AAEA;
}
#imagem_fundo{
    background-image: url(img/fundo.jpeg);
    height: 100%;
    text-align: center;
    background-size:cover ;
}
#título{
    color:white;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.5;
    font-family: Arial, Helvetica, sans-serif;
}
#subtítulo{
    color:white;
    padding-left: 20%;
    padding-right: 20%;
}
#acao{
    color:white;
    border: 1px black solid;
    padding: 10px 10px 10px 10px;
}
.class.ícone{
    width:1px;
    
}
section{
    padding: 20px;
    float: left;
}

.destaque{
    background-color: rgb(177, 182, 182);
}
.imgeco{
    width: 90%;
    height:30%;
}

.coluna{
    float: left;
    padding: 0  5%;
    position: relative;
    width: 40%;
}
.dois{
    width: 40%;
}

.quatro{
    width: 15%;
}
.tres{
    width: 29%;
    padding: 0  2%;
    
    
}
.justificado{
    text-align: justify;
}

.centralizado{
    text-align: center;
}
#sobre{
    width: 100%;
}
footer{
    background-color:01AAEA;
    float:left;
    color:white;
}
@media all and (max-width:768px){
    #menu{
        visibility:hidden;
    }
    .coluna, .dois, .tres, .quatro{
        display:block;
        width:80%;
        padding:0;
        margin:10px auto;
        float:none;

    }
    #logodiv{
        width:100%;
        
        position:relative;
        text-align:center;
        
    }
    #logo{
        margin-left:0px;
        transform:translatex(-50%);
    }
}